// Title

.cont-project-title {
    margin-top: $space-400;
    text-align: center;

    p {
        margin-top: $space-100;
        text-align: center  ;
    }
}

// Project preview

.project-preview {
    @include flex($col : true, $gap: 80px);
    
    .cont-preview {
        width: 100%;
        border-radius: $space-100;
        
        img {
            box-shadow: $box-shadow-primary;
            border-radius: $space-100;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3 { text-align: center; }
}

// Catch phrase

.catch-phrase::before, .catch-phrase::after {
    content: "\0022";
}

// Project description

.project-description {
    
    margin-top: $space-500;
    @include flex($justify: "between", $align: "start");

    @include media-large {
        @include flex($justify: "center", $align: "start", $col: true, $gap: 50px);
    }

    .role-tools {
        flex-basis: 40%;
        @include flex($justify: "start", $align: "start", $col: true, $gap: 50px);

        .role {
            p {
                margin-top: $space-200;
            }
        }
        
        .tools {
            .cont-technos {
                margin-top: $space-200;
                @include flex($justify: "start", $gap: 10px);
                flex-wrap: wrap;

                .techno {
                    height: 40px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

    }

    .progress {
        flex-basis: 40%;

        p {
            margin-top: $space-200;
        }
    }

}