// Root & body element

:root {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, $color-palette-gradient-primary  0.15%, $color-palette-gradient-secondary 290%);
}

// Page

.page {
    @include flex($justify: "between", $col : true);

    &.blog-mode {
        padding: $space-200 4*$space-600;
    }
}

.g-50 {
    gap: 50px;
}
.g-200 {
    gap: 200px;
}

// Navigation

nav {
    width: 100%;
    @include flex($justify: "between");
    background: $color-palette-primary-400;
    padding: $space-100 $space-500;

    .nav-brand {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav-links a:first-child {
        margin-right: 30px
    }

    .nav-links a {
        font-family: $font-family-text-bold;
        font-size: $font-size-200;
        color: $color-palette-white;

        &:hover {
            color: $color-palette-tertiary-400;
        }
        
        &.active {
            color: $color-palette-tertiary-400;
        }
    }

    .lang {

        // Reset button inherit properties
        border: none;
        background: transparent;
        
        @include flex($gap: 15px);
        cursor: pointer;

        .cont-flag {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        span {
            font-family: $font-family-text;
            color: $color-palette-white;
        }
    }
}

// Next page

.next-page {
    margin-top: $space-900;
    padding: $space-800 $space-800 $space-700;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    background: $color-palette-secondary-400;
    min-height: $space-900;
    @include flex();

    &.no-margin {
        margin: 0;
    }

    .inner {
        @include flex($gap: 15px, $col : true);

        h2 { text-align: center; }
        
        .cont-arrow {
            width: 40px;
            height: 40px;
    
            &.flip {
                transform: rotate(180deg);
            }

            img {
                width: 100%;
                height: 100%;
            }

        }
    }
}

// Footer

footer {

    width: 100%;
    @include flex($justify: "between");
    background: $color-palette-primary-400;
    padding: $space-200 $space-500;

    .footer-brand {
        width: 40px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .footer-text {
        @include flex($gap: 5px);
        p { @include text($color: "light"); }
        img {
            width: 20px;
            height: 20px;
        }
    }

    .cont-socials {
        @include flex($gap: 20px);

        .social {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Titles and text

h1 { @include title(); }
h2 { @include title($type : "h2"); }
h3 { @include title($type : "h3"); }

h1.after { @include title($after: true); }
h2.after { @include title($type : "h2", $after : true); }
h3.after { @include title($type : "h3", $after : true); }

p { @include text(); }

// CTAs

.btn-cta { @include button(); }
.btn-cta.ghost { @include button($type: "ghost"); }
.btn-cta.icon { @include button($icon: true); }
.btn-cta.icon.ghost { @include button($type: "ghost", $icon: true); }