// Root & body element

:root {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, $color-palette-gradient-primary  0.15%, $color-palette-gradient-secondary 290%);
}

// Selection 

::selection {
    background: $color-palette-tertiary-400;
    color: $color-palette-primary-400;
}

// Page

.page {
    @include flex($justify: "between", $col : true);

    &.blog-mode {
        padding: $space-200 clamp($space-300, 15vw, 4*$space-600);

        @include media-medium {
            padding: $space-200;
        }
    }
}

// Gap props

.g-small {
    gap: $space-500;
}
.g-large {
    gap: $space-900;

    @include media-large {
        gap: $space-600;
    }
}

// Navigation

nav {
    width: 100%;
    @include flex($justify: "between");
    background: $color-palette-primary-400;
    padding: $space-100 $space-500;
    
    @include media-medium {
        padding: $space-100 $space-200;
    }

    .nav-brand {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav-links a:first-child {
        margin-right: $space-300;

        @include media-xsmall {
            margin-right: 0;
        }

    }

    .nav-links a {
        font-family: $font-family-text-bold;
        font-size: $font-size-200;
        color: $color-palette-white;

        @include media-xsmall {
            @include flex($col: true);
        }

        &:hover {
            color: $color-palette-tertiary-400;
        }
        
        &.active {
            color: $color-palette-tertiary-400;
        }
    }

    .lang {

        // Reset button inherit properties
        border: none;
        background: transparent;
        
        @include flex($gap: 15px);
        cursor: pointer;

        .cont-flag {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        span {
            font-family: $font-family-text;
            color: $color-palette-white;
            
            @include media-medium {
                display: none;
            }
        }
    }
}

// Next page

.next-page-animation-right {
    animation: next-page-animation-right 0.3s;
}
.next-page-animation-left {
    animation: next-page-animation-left 0.3s;
}

.next-page {
    margin-top: $space-900;
    padding: $space-800 $space-800 $space-700;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    background: $color-palette-secondary-400;
    min-height: $space-900;
    @include flex();

    &:hover {
        .cont-arrow {
            animation: next-page-animation-right 0.3s;
            
            &.flipped {
                animation: next-page-animation-left 0.3s;
            }
        }
    }

    @include media-medium {
        padding: $space-700 $space-700 $space-600;
    }

    &.no-margin {
        margin: 0;
    }

    .inner {
        @include flex($gap: 15px, $col : true);

        h2 { text-align: center; }
        
        .cont-arrow {
            width: 40px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }

        }
    }
}

// Footer

footer {

    width: 100%;
    @include flex($justify: "between", $gap: 10px);
    background: $color-palette-primary-400;
    padding: $space-200 $space-500;

    @include media-medium {
        padding: $space-200 $space-300;
    }

    @include media-small {
        @include flex($gap: 10px);
        flex-wrap: wrap;
    }

    .footer-brand {
        width: 40px;
        height: 40px;

        @include media-small {
            order: 1;
            margin-right: $space-700;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .footer-text {
        @include media-medium {
            margin: 0 5px;
        }

        @include media-small {
            order: 3;
        }

        p { @include text($color: "light"); text-align: center;}
        a { 
            display: block;
            @include text($type: "bold", $color: "light"); 
            text-align: center;
            text-decoration: underline;
        }

    }

    .cont-socials {
        @include flex($gap: 20px);

        @include media-small {
            order: 2;
        }

        .social {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Titles and text

h1 { @include title(); }
h2 { @include title($type : "h2"); }
h3 { @include title($type : "h3"); }

h1.after { @include title($after: true); }
h2.after { @include title($type : "h2", $after : true); }
h3.after { @include title($type : "h3", $after : true); }

p { @include text(); }

// CTAs

.btn-cta { @include button(); }
.btn-cta.ghost { @include button($type: "ghost"); }
.btn-cta.disabled { @include button($type: "disabled")}
.btn-cta.icon { @include button($icon: true); }
.btn-cta.icon.ghost { @include button($type: "ghost", $icon: true); }