@font-face {
    font-family: "Urbanist-Black";
    font-display: swap;
    src: url("../assets/fonts/Urbanist-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Urbanist-Bold";
    font-display: swap;
    src: url("../assets/fonts/Urbanist-Bold.ttf") format("truetype");
}


@font-face {
    font-family: "Urbanist-SemiBold";
    font-display: swap;
    src: url("../assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Urbanist-Medium";
    font-display: swap;
    src: url("../assets/fonts/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Urbanist-Regular";
    font-display: swap;
    src: url("../assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Urbanist-Light-Italic";
    font-display: swap;
    src: url("../assets/fonts/Urbanist-LightItalic.ttf") format("truetype");
}