@font-face {
  font-family: "Urbanist-Black";
  font-display: swap;
  src: url("/assets/fonts/Urbanist-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Bold";
  font-display: swap;
  src: url("/assets/fonts/Urbanist-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-SemiBold";
  font-display: swap;
  src: url("/assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Medium";
  font-display: swap;
  src: url("/assets/fonts/Urbanist-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Regular";
  font-display: swap;
  src: url("/assets/fonts/Urbanist-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Light-Italic";
  font-display: swap;
  src: url("/assets/fonts/Urbanist-LightItalic.ttf") format("truetype");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.tag {
  display: inline-block;
  background: rgba(18, 32, 41, 0.8);
  padding: 0.3125rem 1.25rem;
  border-radius: 9999px;
  box-shadow: -5px 5px 30px rgba(18, 32, 41, 0.15);
}
.tag span {
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
  color: hsl(0deg, 0%, 100%);
}

p {
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
}

h1 {
  font-family: "Urbanist-Black", sans-serif;
  font-size: clamp(2.5rem, 10vw, 5.125rem);
  color: hsl(203deg, 39%, 12%);
  letter-spacing: 2px;
}
h1 span {
  position: relative;
}
h1 span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: -1;
  width: 6.25rem;
  height: 1.25rem;
  background: hsl(67deg, 100%, 50%);
}

h2 {
  font-family: "Urbanist-Black", sans-serif;
  font-size: clamp(2.5rem, 10vw, 5.125rem);
  color: hsl(203deg, 39%, 12%);
  letter-spacing: 2px;
  font-family: "Urbanist-SemiBold", sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
}
h2 span {
  position: relative;
}
h2 span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: -1;
  width: 6.25rem;
  height: 1.25rem;
  background: hsl(67deg, 100%, 50%);
}
h2 span::after {
  bottom: 8px;
  width: 3.125rem;
  height: 0.625rem;
}

h3 {
  font-family: "Urbanist-Black", sans-serif;
  font-size: clamp(2.5rem, 10vw, 5.125rem);
  color: hsl(203deg, 39%, 12%);
  letter-spacing: 2px;
  font-family: "Urbanist-Medium", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 1.875rem);
}
h3 span {
  position: relative;
}
h3 span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: -1;
  width: 6.25rem;
  height: 1.25rem;
  background: hsl(67deg, 100%, 50%);
}
h3 span::after {
  bottom: 5px;
  width: 3.125rem;
  height: 0.3125rem;
}

.btn-cta {
  border: none;
  outline: none;
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
  font-family: "Urbanist-Bold", sans-serif;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  background-color: hsl(67deg, 100%, 50%);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-cta:hover {
  background-color: hsl(67deg, 100%, 45%);
}
.btn-cta img {
  width: 30px;
  height: 30px;
}

body {
  padding: 0 50px 200px;
}

.testimony-card {
  background: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  max-width: 28.125rem;
}
.testimony-card .left-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.testimony-card .left-pic .cont-pic {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  border: 2px solid hsl(203deg, 39%, 12%);
}
.testimony-card .left-pic .cont-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}
.testimony-card .right-text p {
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
  font-family: "Urbanist-Light-Italic", sans-serif;
}
.testimony-card .right-text span {
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
  font-size: 0.875rem;
}

.project-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 300px;
  box-shadow: -5px 5px 30px rgba(18, 32, 41, 0.15);
  transition: transform 0.2s ease-in-out;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card .left-description {
  height: 100%;
  background: hsl(203deg, 39%, 12%);
  padding: 1.25rem 1.875rem;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}
.project-card .left-description .top-titles span {
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
  font-size: 0.875rem;
  color: hsl(0deg, 0%, 100%);
}
.project-card .left-description .top-titles h3 {
  font-family: "Urbanist-Black", sans-serif;
  font-size: clamp(2.5rem, 10vw, 5.125rem);
  color: hsl(203deg, 39%, 12%);
  letter-spacing: 2px;
  font-family: "Urbanist-Medium", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 1.875rem);
  color: hsl(0deg, 0%, 100%);
}
.project-card .left-description .top-titles h3 span {
  position: relative;
}
.project-card .left-description .bottom-technos p {
  font-family: "Urbanist-Regular", sans-serif;
  font-size: 1.125rem;
  color: hsl(203deg, 39%, 12%);
  line-height: 1.5;
  letter-spacing: 1%;
  color: hsl(0deg, 0%, 100%);
}
.project-card .left-description .bottom-technos .cont-technos {
  margin-top: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
}
.project-card .left-description .bottom-technos .cont-technos .techno {
  width: 30px;
  height: 30px;
}
.project-card .left-description .bottom-technos .cont-technos .techno img {
  width: 100%;
  height: 100%;
}
.project-card .right-illustration {
  height: 100%;
  overflow: hidden;
}
.project-card .right-illustration .cont-pic {
  height: 100%;
}
.project-card .right-illustration .cont-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

/*# sourceMappingURL=style.css.map */
